	body {
		background:#ffffff;
	}
	#debug1 {
		display:none;
	}
	.js-mindmap .node {
		position:absolute;
		top:0;
		left:0;
		font-family:verdana;
		font-size:11px;
		color:#003258;
		background:#C1D1E0;
		padding:15px;
		-moz-border-radius:3px;
		cursor:pointer;
		cursor:hand;
		z-index:100;
		list-style:none;
	}
	.js-mindmap .node  a{
		color:#003258;
	}
	.js-mindmap .node.active{
		background:#EAEFF5;
		color:#003258;
		font-weight:bold;
		z-index:1000;
	}
	.js-mindmap .node.active  a{
		color:#003258;
	}
	.js-mindmap img.line {
		position:absolute;
		width:200px;
		height:133px;
		top:0;
		left:0;
		display:block;
		z-index:0;
	}
